{% extends "shopping_cart_app/merchant_base.html" %}

{% block merchant_content %}
    {% for entry in entries %}
        {{ entry.product.name }} ${{ entry.product.price }} (x{{ entry.quantity }}) = ${% widthratio entry.product.price 1 entry.quantity %}
        <br>
    {% endfor %}
    Total: ${{ balance }}

    <form id="buy-form" method="post" action="{% url "buy" merchant_name=merchant.name %}">{% csrf_token %}
      <input type="submit" value="BUY"/>
    </form>
{% endblock merchant_content %}
