{% extends "shopping_cart_app/merchant_base.html" %}

{% block merchant_content %}
  {{ product.name }}
  <br>
  ${{ product.price }}
  <br>

  {% if user.is_authenticated %}
    Add to cart
    <form id="add-item-form" method="post" action="{% url "add_item_to_cart" merchant_name=merchant.name product_id=product_id %}">{% csrf_token %}
      <input type="text" name="quantity" value="1"/>
      <input type="submit" value="OK"/>
    </form>
  {% endif %}
{% endblock merchant_content %}
