{% extends "shopping_cart_app/base.html" %}

{% block content %}

  {% if user.is_authenticated %}
    {{ user.username }}
    <form id="logout-form" method="post" action="{% url "logout" %}">{% csrf_token %}
      <input type="hidden" name="merch" class="merch"/>
      <input type="submit" value="Logout"/>
    </form>
    <br>
    <a href="{% url "checkout" merchant_name=merchant.name %}">Checkout</a>
    <br>
    <a href="{% url "show_past_orders" merchant_name=merchant.name %}">Past Orders</a>
    <br>
    <br>
  {% else %}
    Register
    <br>
    <form id="signup-form" method="post" action="{% url "register" %}">{% csrf_token %}
      <input type="text" name="usn" placeholder="Username"/>
      <input type="password" name="pwd"/>
      <input type="hidden" name="merch" class="merch"/>
      <input type="submit" value="OK"/>
    </form>
    <br>

    Login
    <br>
    <form id="login-form" method="post" action="{% url "login" %}">{% csrf_token %}
      <input type="text" name="usn" placeholder="Username"/>
      <input type="password" name="pwd"/>
      <input type="hidden" name="merch" class="merch"/>
      <input type="submit" value="OK"/>
    </form>

    <script>
      (function() {
        'use strict';
        for (let m of document.querySelectorAll('.merch')) {
          m.value = location.href.split('/merchant')[1].split('/')[1];
        }
      })();
    </script>
    <!--
    <script>
      (function() {
        'use strict';

        function ajaxPOST(location, data='') {
          return new Promise(resolve => {
            const x = new XMLHttpRequest();
            x.onreadystatechange = () => {
              if (x.readyState === 4 && x.status === 200) {
                resolve(x.responseText);
              }
            };
            x.open('POST', location);
            x.send(data);
          });
        }

        const form = document.querySelector('#signup-form');

        form.onsubmit = async e => {
          e.preventDefault();
          const res = await ajaxPOST(
            "{% url "register" %}",
            JSON.stringify({
              usn: document.querySelector('#usn').value,
              pwd: document.querySelector('#pwd').value,
              merch: location.href.split('/merchant')[1].split('/')[1],
            })
          );
          if (res === 'username_taken') {
            alert(res);
          } else {
            // reload page
          }
        };
      })();
    </script>
    -->
  {% endif %}
  <br>

  <!--login stuff here-->

  {% block merchant_content %}
  {% endblock merchant_content %}
{% endblock content %}
